{% extends 'core/base.html' %}

{% block title %}Start Exam{% endblock title %}

{% block content %}



<div class="container d-flex justify-content-center align-items-center">
    <div class="card shadow-lg text-white rounded-lg mt-5" style="border-radius:1em; background-color:#2E3440; text-align:center;">
        <form action="" method="POST">
            {% csrf_token %}
        <div class="card-header">
            <h2 class="text-white mt-3">Welcome, {{request.user.last_name}} {{request.user.first_name}} - MAT: {{request.user.get_matricola_from_user}}</h2>
            <h4 class="text-white">Are You Ready To Start Your Exam?</h4>
            <h6 class="text-white">Number of questions: {{exam.session.number_of_questions}}</h6>
            <h6 class="text-white">Duration in minutes: {{exam.session.duration}}</h6>
            <p>Once you have started the exam, you will not allowed to logout, if you will logout, you will not be able to enter, if there will be a connection error, you can ask to the teacher for log in again.</p>
            
            <input type="radio" class="form-check-input" id="radio1" name="optradio" value="option1" required>
            <label class="form-check-label" for="radio1">I confirm to be {{request.user.last_name}} {{request.user.first_name}} - MAT: {{request.user.get_matricola_from_user}} and I accept all the terms and condition for doing the exams</label>             

        </div>
        
             <button type="submit" class="btn" style="border-radius:1em; background-color:#a3be8c">I am ready, start the exam</button>
        
        <div class="card-footer">
            <p>If you are not {{request.user.last_name}} {{request.user.first_name}}, say it to the teacher, and then logout clicking <a href="{% url 'logout' %}">here</a>.</p>
        </div>
    </form>
    </div>

</div>
    






{% endblock content %}



