.list-group-item {
    user-select: none;
    background-color: #1E1E1E;
    color: white;
  }
  
  .list-group input[type="checkbox"] {
    display: none;
  }
  
  .list-group input[type="checkbox"] + .list-group-item {
    cursor: pointer;
  }
  
  .list-group input[type="checkbox"]:checked + .list-group-item {
    background-color: #0275D8;
    color: #FFF;
  }
  
  .list-group input[type="checkbox"]:checked + .list-group-item:before {
    color: inherit;
  }
  
  .list-group input[type="radio"] {
    display: none;
  }
  
  .list-group input[type="radio"] + .list-group-item {
    cursor: pointer;
  }
   
  .list-group input[type="radio"]:checked + .list-group-item {
    background-color: #0275D8;
    color: #FFF;
  }
  
  .list-group input[type="radio"]:checked + .list-group-item:before {
    color: inherit;
  }
 