{% extends 'core/base.html' %}

{% block title %}Login Student{% endblock title %}

{% block content %}


    <div id="layoutAuthentication">
        <div id="layoutAuthentication_content">
            <main>
                <div class="container mt-5 py-5">
                    <div class="row justify-content-center">
                        <div class="col-lg-5">
                            <div class="card shadow-lg  text-white rounded-lg mt-5" style="border-radius:1em; background-color:#2E3440">
                                <div class="card-header"><h3 class="text-center font-weight-light my-4">Login as a Student</h3></div>
                                <div class="card-body">
                                    <form method="POST" action="">
                                        {% csrf_token %}
                                        <div class="form-floating mb-3 ">
                                            <input class="form-control" id="inputEmail" name="token"  type="text" placeholder="Token" />
                                            <label for="inputEmail" style="color: darkgray;">TOKEN</label>
                                        </div>
                                        <div class="d-grid gap-2">
                                             <button type="submit" class=" btn  mt-3" style="border-radius:1em; background-color:#a3be8c">Login</button>  
                                        </div>  
                                    </form>
                                </div>
                                <div class="card-footer text-center py-3"></div>
                            </div>
                        </div>
                    </div>
                </main>
            </div>
        </div>
    </body>
    
  
  
{% endblock content %}



