{% extends 'core/base.html' %}

{% block content %}


<div class="container-fluid">
  <div class="row mt-3">
    <div class="col-md-6">
      <h2>Students of Session: {{session.name}}</h2>
    </div>
    <div class="col-md-6 mx-auto">
      <a class="btn float-end" style="border-radius:1em; background-color:#2E3440" href="{% url 'teacher-add-student' session.id %}">Add Student Manually</a>
      <a class="btn float-end" style="border-radius:1em; background-color:#2E3440" href="{% url 'teacher-load-file-students' session.id %}">Add Students (.csv File)</a>
      <a class="btn float-end" style="border-radius:1em; background-color:#2E3440" href="{% url 'teacher-session' session.id %}">Go Back</a>
  
    </div>
  
    </div>
  
  </div>
  
  <div class="card mb-4 mt-3" style="border-radius:1em;">
    <div class="card-header">
      <h2 class="table">{{students.count}} Students</h2>
    </div>
    <div class="table-responsive">
      
   
    <table class="table table-light table-striped">
      <thead>
        <tr>
          <th scope="col">MATRICOLA</th>
          <th scope="col">Last Name</th>
          <th scope="col">First Name</th>         
          <th scope="col">Email</th>
          <th scope="col">Edit</th>
          <th scope="col">Delete</th>
        </tr>
      </thead>
      <tbody>
      
          {% for student in students %}
          <tr>
          <th scope="row">{{student.matricola}}</a></th>
          <td>{{student.last_name}}</td>
          <td>{{student.first_name}}</td>        
          <td>{{student.email}}</td>
          <td><a class="table"href="{% url 'teacher-edit-student' session.pk student.pk %}"><i class="fas fa-wrench"></i></a></td>
          <td><a class="table"href="{% url 'teacher-delete-student' session.pk student.pk %}"><i class="fas fa-trash-alt"></i></a></td>
        </tr>
          {% endfor %}
       
          
      </tbody>
  </table>
</div>
  </div>
  
  
</div>

{% endblock content %}