{% extends 'core/base.html' %}
{% load auth_extras %}
{% load static %}
{% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'css/exam.css' %}" />
{% endblock style %}


{% block content %}


<br>
<div class="container-fluid">
    <div class="row">
        <div class="col-8">

            <h4>{{request.user.last_name}} {{request.user.first_name}} - MAT: {{request.user.username}}</h4>
            

            <div class="container-xxl justify-content-center align-items-center">
                <div class="card shadow-lg text-white rounded-lg mt-2" style="text-align: center; border-radius: 1em; background-color:#2E3440;">
                   <div class="card-header">
                      <h3>{{main_question.question.text}}</h3>
                   </div>
                   <div class="card-body">
                    <h5 class="card-title">{{main_question.question.get_type}}</h5>
                    <form action="" method="POST">
                        {% csrf_token %}
                        {% if main_question.question.get_type == 'SINGLE CHOICE' %}
                            <div class="list-group">    
                            {% for answer in answers_main_question %}
                                <input class="form-check-input mt-0" type="radio" id="answer{{answer.id}}" name="answer" value="{{answer.id}}" {% if main_question|has_this_answer:answer.id %} checked {% endif %} required>
                                <label class="list-group-item"  for="answer{{answer.id}}">{{answer.text}}</label>  
                                
                            {% endfor %}
                            </div>
                        {% else %}
                            <div class="list-group">
                            {% for answer in answers_main_question %}
                                <input class="form-check-input mt-0" type="checkbox" id="answer{{answer.id}}" name="{{answer.id}}" value="1" {% if main_question|has_this_answer:answer.id %} checked{% endif %}> 
                                <label class="list-group-item" for="answer{{answer.id}}">{{answer.text}}</label>
                            {% endfor %}
                            </div>
                        {% endif %}
                        <button class="btn" style="border-radius:1em; background-color:#a3be8c" class="text-decoration-none text-white">Save and go to the next</button>
                    </form>
                   </div>
                </div>
            </div>
        </div>
        <div class="col-4">
            <h4><span id="remaining_time"></h4>         
                
            {% for q in questions %}
                {% if q.question.pk == main_question.question.pk %}
                    <a href="{% url 'student-exam-question' q.pk %}" type="submit" class="btn" style="border-radius:1em; background-color:#00aaff;" >{{forloop.counter}}</a>
                {% elif q.is_answered %}
                    <a href="{% url 'student-exam-question' q.pk %}" type="submit" class="btn" style="border-radius:1em; background-color:#4fbd00;" >{{forloop.counter}}</a>
                {% else %}
                    <a href="{% url 'student-exam-question' q.pk %}" type="submit" class="btn" style="border-radius:1em; background-color:#bf616a;" >{{forloop.counter}}</a>
                {% endif %}
            {% endfor %}  
            
            
            <br>
            <br>
            <a href="{% url 'student-confiramtion-finish-exam' %}" type="submit" class="btn" style="border-radius:1em; background-color:#bf616a;" >TERMINATE THE EXAM</a>

        </div>
    </div>
</div>
<br>



<script>
    setInterval(function() { makeTimer({{ exam.get_expiration_time|date:"U" }}); }, 1000);
</script>
<br>

{% endblock content %}

{% block script %}
<script src = "{% static 'js/exam.js' %}"></script>
{% endblock script %}




