{% extends 'core/base.html' %} 
{% block content %} 

<div class="container d-flex align-items-center justify-content-center mt-5">
  <div class="card shadow-lg bg-dark text-white rounded-lg mt-5 " style="text-align:center;">
    <div class="card-header">
    <h3 class="text-white mt-5 mb-3">Are you a Teacher or a Student?</h3>
    </div>
    <div class="container d-flex align-items-center justify-content-center ">
      <div class="row">
        <div class="col-6">
          <a class="btn btn-light btn-lg mb-5 mt-5" href="{% url 'student-login' %}">STUDENT</a>
        </div>
        <div class="col-6">
            <a class="btn btn-light btn-lg mb-5 mt-5" href="{% url 'teacher-login' %}">TEACHER</a>
        </div>
      </div>
    </div>
  </div>
</div> 

{% endblock content %}