{% extends 'core/base.html' %}

{% block content %}
<link rel="stylesheet" href="project\core\static\css\form.css">

<div class="container col-lg-7">
    <div class="card shadow-lg bg-dark text-white border-light rounded-lg mt-5" style="text-align:center; ">
        <div class=" card-header">
            <h1 class="text-light">Add a Subject</h1>
        </div>
        <form action="" method="POST">
            {% csrf_token %}
            {{form.as_p}}
            <input type="submit" value="Add Subject" class="btn btn-success">
        </form>
    </div>
    
    
</div>
    
    


{% endblock content %}



