{% extends 'core/base.html' %}

{% block content %}


<div class="container-fluid">
    <div class="row">
        <div class="col-sm-10 col-12 mt-2">
            <h1 class="text-white display-3">Dashboard</h1>
        </div>
        <div class="col-md-2 mt-4 mx-auto ">
            <a href="{% url 'teacher-add-subject' %}" class="btn  float-end" style="border-radius:1em; background-color:#81A1C1;">Add Subject</a>
        </div>

    </div>

    <div class="row g-3 mt-3">
        {% for subject in subjects %}
        <div class="col-6 col-md-4 col-lg-3">
            <a href="{% url 'teacher-subject' subject.id %} " class="text-decoration-none text-light">
                <div class="card" style="border-radius:1em; background-color:#2E3440">
                    <div class="card-body">
                        <h5 class="card-title">{{subject.name}}</h5>
                        <p class="card-text text-light">{{subject.description}} </p>
                        <a class="btn mt-3" style="border-radius:1em; background-color:#8FBCBB" href="{% url 'teacher-edit-subject' subject.id %}"
                            class="text-decoration-none text-white">Edit</a>
                        <a class="btn  mt-3" style="border-radius:1em; background-color:#BF616A" href="{% url 'teacher-delete-subject' subject.id %}"
                            class="text-decoration-none text-white"> DELETE</a>
                    </div>
                </div>

            </a>


        </div>
        {% endfor %}


    </div>



    </body>

    {% endblock content %}