{% extends 'core/base.html' %}

{% block content %}
<ul class="nav">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="#">Active</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Link</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Link</a>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled">Disabled</a>
    </li>
  </ul>
<h1>DASHBOARD</h1>

<h3>Subjects</h3>
{% for subject in subjects %}
    <a href="{% url 'teacher-subject' subject.id %}">
    <h5>{{subject.name}}</h5>
    </a>

    <a href="">Edit</a>
    <a href="{% url 'teacher-delete-subject' subject.id %}">Delete</a>
{% endfor %}

{% endblock content %}



