{% extends 'core/base.html' %}

{% block content %}
<body class="bg-dark">
  <div class="container-fluid">
        <h1 class = "text-white">DASHBOARD</h1>
        
        
          {% for subject in subjects %}
        <div class="row">
            <div class="col-2">
              <div class="card">
                <div class="card-body">
                  <a href="">
                  <h5 class="card-title">{{subject.name}}</h5>
                  </a>
                  <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                  <a href="#" class="btn btn-dark">Edit</a>
                  <button type="button" class="btn btn-dark">
                    <a href="{% url 'teacher-delete-subject' subject.id %}"> DELETE</a>
                  </button>
                 
                </div>
              </div>
            </div>
            <div class="col-2">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Special title treatment</h5>
                  <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
            </div>
            <div class="col-2">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Special title treatment</h5>
                  <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
            </div>
          </div>
            <a href="{% url 'teacher-subject' subject.id %}">
          
            </a>
            
        {% endfor %}
    

        </div>
        
      

</body>
  

{% endblock content %}



