{% extends 'core/base.html' %}

{% block content %}

    <!--Center the div-->
    <div class="container-col-lg-4">
        <div class= "card shadow-lg bg-dark text-white border-light rounded-lg mt-5" style="text-align:center;">
            <div class="card-header">
                 <h1>Delete SUBJECT {{subject.name}}</h1>
            </div>
            <h2>Are you sure to delete it?</h2> 
                    <form action="" method="POST">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger">Yes, delete it</button>
                        <a class="btn btn-success"href="{% url 'teacher-dashboard' %}">No, keep it</a>
                    </form>
        
                    
         
    
        </div>
    </div>

        
        
    


{% endblock content %}



