{% extends 'core/base.html' %}
{% load crispy_forms_tags %}

{% block content %}

<div class="container-fluid text-light py-3">
    <header class="text-center">
        <h1 class="">Add Subject</h1>
    </header>    
</div>
    <div class="container col-lg-4 mt-5">
            <form action="" method="POST" class="text-white">
                {% csrf_token %}
                {{form | crispy}}
                <div class="d-grid gap-2 mt-2">
                    <button type="submit" class=" btn  mt-2" style="border-radius:1em; background-color:#a3be8c">Add Subject</button> 
                </div>  
            </form> 
        
    </div>

    

{% endblock content %}



