{% extends 'core/base.html' %} 
{% load static %} 
{% block content %} 
<h3 class="text-white">Edit Questions of: {{subject.name}}</h3>
<div class="row">
  <div class="col-sm-10 col-12 mt-2">
    <h5 class="text-white">Number of Questions : {{questions.count}}</h5>
  </div>
  <div class="col-md-2  mx-auto">
    <a href="{% url 'teacher-add-question' subject.id %}" class="btn btn-light float-end">Add Question</a>
</div>

<!--Table-->   
<div class="card mb-4 mt-3">
  <div class="card-header">
      <h2 class="table">My Questions</h2>
  </div>
  <table class="table table table" id="sortTable">
      <thread>
          <tr>
              <th scope="col">Vehicle (ID)</th>
              <th scope="col"><i class="fas fa-trash-alt"></i> Delete</th>
          </tr>
      </thread>
      <tbody>
          <tr>
            {% for question in questions %}
              <tr>
              <th scope="row"><a class="table"href="" >{{question.text}}</a></th>
              </tr>
              {% endfor %}
          </tr>
      </tbody>
  </table>
</div>
<!--Table Ends-->



{% endblock content %}