{% extends 'core/base.html' %}

{% block content %}

<div class="container-fluid">
    <div class = "row">
      <div class = "col-md-12">
          <h1 class= "text-white">{{subject.name}}</h1>
      </div>
      </div>
      <div class = "col-md-12">
        <button type="button" class="btn btn-light mt-3">
          <a href="" class="text-decoration-none text-dark">Load From File</a>
        </button>
        <button type="button" class="btn btn-light mt-3">
          <a href="{% url 'teacher-edit-questions' subject.id %}" class="text-decoration-none text-dark">Edit Questions</a>
        </button>
       <div>
          
  </div>
  
  <p>{{subject.description}}</p>
  
  
  
  <h4 class = "text-white">Number of questions: {{num_questions}}</h4>
  <h4 class = "text-white">Success Rate: TODO</h4>
  
  <br>
  <br>
  <h4 class = "text-white">Future sessions:</h4>
  <div class="row">
      <div class="col-2">
          <div class="card">
            <div class="card-body">
              <a href="">
              <h5 class="card-title">{{subject.name}}</h5>
              </a>
              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>         
            </div>
            
        
        </div>  
        </div
  
      </div>
  </div>
      
  
  <h4 class = "text-white">Future sessions:</h4>
  <div class="row">
      <div class="col-2">
          <div class="card">
            <div class="card-body">
              <a href="">
              <h5 class="card-title">{{subject.name}}</h5>
              </a>
              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>         
            </div>
          </div>
            
        
        </div>  
  
  </div>
    
  </div>
  
  
           
{% endblock content %}



