{% extends 'core/base.html' %}
{% load crispy_forms_tags %}

{% block content %}


<body class="bg-dark">
    <div class="container col-lg-4 mt-5">
                <h1 class="text-white">Add a new Subject</h1>
            <form action="" method="POST" class="text-white">
                {% csrf_token %}
                {{form | crispy}}
                <input type="submit" value="Add Vehicle" class="btn btn-success">
            </form> 
        
    </div>
</body>
    
    


{% endblock content %}



