{% extends 'core/base.html' %}

{% block content %}

    <!--Center the div-->
    <div class="container vh-100">
        <div class= "card shadow-lg bg-dark text-white rounded-lg mt-5" style="text-align:center;">
            <div class="card-header">
                 <h1 class="text-white mt-5">Delete SUBJECT {{subject.name}}</h1>
            </div>
            <h2 class="text-white mt-5">Are you sure to delete it?</h2> 
                    <form action="" method="POST">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-6">
                                <button type="submit" class="btn btn-danger mt-5 mb-5 ">Yes, delete it</button>
                            </div>
                            <div class="col-6">
                                <a class="btn btn-success mt-5 mb-5"href="{% url 'teacher-dashboard' %}">No, keep it</a>
                        </div>
                        
                       
                    </form>
        
                    
         
    
        </div>
    </div>

        
        
    


{% endblock content %}



