{% extends 'core/base.html' %}
{% load crispy_forms_tags %}

{% block content %}

<div class="container-fluid text-light py-3">
    <header class="text-center">
        <h2>Add Student to Session: {{session.name}}</h2>
    </header>    
</div>
    <div class="container col-lg-4 mt-5">
            <form action="" method="POST" class="text-white">
                {% csrf_token %}
                {{form | crispy}}
                <div class="d-grid gap-2 mt-2">
                    <input type="submit" value="Add Student" class="btn-block btn-success mt-2"/> 
                </div>  
            </form> 
        
    </div>

    

{% endblock content %}






