{% extends 'core/base.html' %}

{% block content %}


   <!--Center the div-->
    
   <div class="container  d-flex justify-content-center align-items-center">
    <div class= "card shadow-lg text-white rounded-lg mt-5 " style="text-align:center; border-radius:1em; background-color:#2E3440;">
        <div class="card-header">
             <h1 class="text-white mt-5">Delete Student: {{student.get_full_name}}</h1>
        </div>
        <h2 class="text-white mt-5">Are you sure to delete it?</h2> 
                <form action="" method="POST">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-6">
                            <button type="submit" class="btn mt-5 mb-5 " style="border-radius: 1em; background-color:#bf616a ">Yes, delete it</button>
                        </div>
                        <div class="col-6">
                            <input type="button" style="border-radius:1em; background-color:#a3be8c;" class="btn  mt-5 mb-5 " value="No, keep it" onClick="javascript:history.go(-1);">
                    </div>
                    
                </div>
                </form>
    
                
     

    </div>
</div>



{% endblock content %}



