{% extends 'core/base.html' %}
{% load crispy_forms_tags %}


{% block content %}

<div class="container">
    <h1>Add Question</h1>
        <form method="POST" action="">
        {% csrf_token %}
            {{form | crispy}}

            {% for i in range %}
            <div class="card">
            <label for="answer{{i}}">Answer {{i}}:</label>
            <input type="text" id="answer{{i}}" name="answer{{i}}">

            <label for="answer{{i}}">Is Correct ?:</label>
            <div class="d-grid gap-3">
                <input class="form-check-input " type="radio" id="is_correct{{i}}" name="answer" value="{{i}}">
            </div>
            </div>
                
            
            
            {% endfor %}
            <div class="d-grid gap-3">
            <input type="submit" class="btn btn-success mt-2" value="Add Question">
            </div>

    </form>
</div>

{% endblock content %}



