{% extends 'core/base.html' %} {% load crispy_forms_tags %} {% block content %}
<div class="container-fluid text-light py-3">
    <header class="text-center">
        <h1 class="">Edit Question</h1>
    </header>
</div>
<div class="container-fluid my-2 w-50 text-light p-2">
    <form method="POST" action="">
        {% csrf_token %} 
        {{form | crispy}} 
        
        {% for answer in answers %}
        <div class="input-group my-2 mt-2">
            <div class="input-group-text">
                <input class="form-check-input mt-0" type="checkbox" id="is_correct{{forloop.counter}}" name="is_correct{{forloop.counter}}" {% if answer.is_correct %}checked{% endif %} value="{{answer.is_correct}}">
            </div>
            <input class="form-control" id="answer{{i}}" name="answer{{forloop.counter}}" value="{{answer.text}}" />
        </div>

        {% endfor %}

        <div class="d-grid gap-3">
            <input type="submit" class="btn btn-success mt-2" value="Save" />
        </div>
    </form>
</div>

{% endblock content %}
